

  .woot_2XWyPW {
    color: red;
  }

  .hello_2XWyPW {
    font-size: 10px;
  }

  .yay_2XWyPW {
    font-weight: bold;
  }

  @media (max-width: 480px) {
    .woot_2XWyPW {
      color: blue;
    }
  }

  @media (max-width: 580px) {
    .woot_2XWyPW {
      color: green;
    }
  }

  .underline_2XWyPW {
    text-decoration: underline;
  }

